@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap');

body * {
    font-family: 'Pixelify Sans', sans-serif;
}

body {
    background-image: url(../img/background.svg);
}

.navbar {
    background-color: rgb(142, 118, 184);
    height: 100px;
}

#slimeIcon {
    width: 100%;
    height: 80px;
}

#popup {
    position: fixed;
    top: 0;
    left: -100%;
    /* 初始位置在左侧屏幕外 */
    width: 300px;
    height: 200px;
    background-color: #f1f1f1;
    transition: left 0.5s ease-in-out;
    z-index: 9999;
    /* 使用 0.5 秒的过渡效果，并添加缓动函数 */
}

#popup.show {
    left: 0;
    /* 弹出后的位置在左侧屏幕内 */
}

.dropdown,
.nav-item {
    z-index: 9999;
}

.slimestable {
    position: absolute;
    font-size: large;
    height: 600px;
    width: 400px;
    background-color: blueviolet;
    border: 5px solid #fafafa;
    border-radius: 5px;
}

.fas.fa-times {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
    color: #444;
    font-size: 4rem;
    transition: transform 0.5s;
}

.fas.fa-times:hover {
    transform: rotate(90deg);
}

#slimeStableIcon {
    width: 250px;
    margin-bottom: 100px;
}

.stable_container {
    font-size: 50PX;
}

.nav-item {
    margin-right: 80px;
    font-size: 30px;
}

@media (max-width:991px) {
    .nav-item {
        margin-right: 0px;
        padding: 25px;
        font-size: 20px;
        background-color: rgb(196, 152, 206);
    }
}

#mid_container {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: bisque;
    border-radius: 10px;
    border: 5px solid #fafafa;
}

@media (max-width: 768px) {
    #coin {
        width: 100px;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }
}

.card-body {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.game_container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    height: 700px;
    width: 40%;
    margin-top: 60px;
    border: solid 5px;
    border-radius: 10px;
    border-color: #f1f1f1;
    overflow: hidden
}

@media (max-width: 768px) {
    .game_container {
        width: 95%;
    }
}

@media (max-width: 480px) {
    .game_container {
        width: 98%;
    }
}

.game_map {
    width: 100%;
    height: 100%;
}

.slime_character {
    position: relative;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.face_left {
    transform: translate(-50%, -50%) scaleX(-1);
}