@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swacontainershowPopupMenup');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body * {
    /* font-family: 'Pixelify Sans', sans-serif; */
    font-family: 'Press Start 2P', sans-serif;
}

body {
    background-image: url(../img/background.svg);
    font-size: 14px;
}

.navbar {
    background-color: rgb(142, 118, 184);
    height: 100px;
}

#slimeIcon {
    width: 100%;
    height: 80px;
}

#popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* 初始位置在左侧屏幕外 */
    transition: left 0.5s ease-in-out;
    z-index: 9999;
    /* 使用 0.5 秒的过渡效果，并添加缓动函数 */
}

@media (max-width:400px) {
    /* #popup {
        position: fixed;
        top: 0;
        left: -150%;
        /* 初始位置在左侧屏幕外 */
    /* width: 300px;
    height: 200px;
    background-color: #f1f1f1;
    transition: left 0.5s ease-in-out;
    z-index: 9999; */
    /* 使用 0.5 秒的过渡效果，并添加缓动函数 */
    /* } */

    .slimestable {
        position: absolute;
        font-size: large;
        height: 600px;
        width: 400px;
        background-color: blueviolet;
        border: 5px solid #fafafa;
        border-radius: 5px;
        box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
    }

}

.stable_container {
    padding-left: 20px;

}

.stable_container>div {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    margin-bottom: 15px;
}

.stable_container>div>span {
    font-size: 1.5rem;
    letter-spacing: -1px;
}

#popup.show {
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: fade-in-popup;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@keyframes fade-in-popup {
    from {
        transform: translateY(150px);
        opacity: 0;
        filter: blur(20px);
    }

    to {
        transform: translateY(0px);
        opacity: 1;
        filter: blur(0px);
    }
}

.dropdown,
.nav-item {
    z-index: 9999;
}

.slimestable {
    position: absolute;
    font-size: large;
    height: 600px;
    width: 400px;
    background-color: blueviolet;
    border: 5px solid #fafafa;
    border-radius: 5px;
}

.fas.fa-times {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
    color: #444;
    font-size: 4rem;
    transition: transform 0.5s;
}

.fas.fa-times:hover {
    transform: rotate(90deg);
}

#slimeStableIcon {
    width: 250px;
    margin-bottom: 100px;
}

.nav-item {
    display: flex;
    justify-self: center;
    /* margin-right: 80px; */
    font-size: 1.8rem;
    align-items: center;
}

@media (max-width:991px) {
    .nav-item {
        /* display: flex;
        align-items: center; */
        margin-right: 0px;
        /* padding: 25px; */
        font-size: 1.2rem;
        /* background-color: rgb(196, 152, 206); */
    }



    .card-container {
        display: flex;

    }

}

#mid_container {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: bisque;
    border-radius: 10px;
    border: 5px solid #fafafa;
}


@media (max-width: 768px) {
    #coin {
        width: 100px;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }

}

.card-body {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

.game_container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 800px;
    width: 60%;
    margin-top: 60px;
    border: solid 5px;
    border-radius: 10px;
    border-color: #f1f1f1;
    overflow: hidden
}

@media (max-width: 1800px) {
    .game_container {
        width: 95%;
    }
}

@media (max-width: 768px) {
    .game_container {
        width: 95%;
    }

    #coin {
        width: 100px;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 1000px !important
    }
}



@media (max-width: 480px) {
    .game_container {
        width: 98%;
    }


}

.game_map {
    width: 100%;
    height: 100%;
}

.slime_character {
    position: relative;
    cursor: po;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.face_left {
    transform: translate(-50%, -50%) scaleX(-1);
}

.popup-menu {
    display: none;
    /* 初始状态下隐藏 */
    position: fixed;
    overflow: hidden;
    top: 120px;
    left: 50%;
    transform: translate(-50%, 0%);
    max-height: calc(100vh - 150px);
    /* border: 5px solid #ccc; */
    border-radius: 10px;
    z-index: 999;
    /* 确保弹出窗口显示在其他元素之上 */
}

.menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-items li {
    padding: 5px 0;
}

.menu-items li a {
    text-decoration: none;
    color: #333;
}

.menu-divider {
    border: none;
    border-top: 1px solid #ccc;
    margin: 5px 0;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 1rem;
    color: #888;
    background: none;
    border: none;
    cursor: pointer;
}

.footcontainer {
    display: flex;
    min-width: 90vw;
    position: relative;
    overflow: hidden;
    padding: 65px;
    background-color: #333;
    border: solid 5px;
    border-color: #f1f1f1;
    border-radius: 10px;
    height: calc(100vh - 150px);
    width: auto;
    z-index: 1;
}

/* .footcontainer_header {
    padding: 0px;
    height: 50px;
    background-color: #CCC;
} */

.food_card_container {
    display: grid;
    padding-top: 115px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 35px;
}

@media (max-width: 1200px) {
    .food_card_container {
        grid-template-columns: repeat(3, 1fr);
    }

    /* .popup-menu {
        top: 60%;
    } */

    /* .footcontainer {
        height: 900px;
        overflow: scroll;
    } */

    /* .card-container {
        padding-left: 30px;
        padding-right: 30px;
    } */
    .myCard {
        background-color: transparent;
        width: 190px;
        height: 254px;
        perspective: 1000px;
        margin-top: 40px;
    }

    /* 
    .card-container {
        width: 1000px;
    } */


    .nav-text {
        color: black !important;
    }


}

@media (max-width: 980px) {
    .food_card_container {
        grid-template-columns: repeat(2, 1fr);
    }

    /* .footcontainer {
        height: 800px;
        overflow: scroll;
        top: 60px;
    } */
}

@media (max-width: 680px) {
    .food_card_container {
        grid-template-columns: 1fr;
    }

    .food_card_container>div {
        justify-self: center;
    }
}

/* .food_card_container>div {
    background-color: #f0f0f0;
    padding: 10px;
    height: 200px;
} */



.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 250px;
    background: linear-gradient(#F9BC61, #FDE8C9);
    box-shadow: 0px 6px 6px -3px rgba(0, 0, 0, 0.2), 0px 10px 14px 1px rgba(0, 0, 0, 0.14), 0px 4px 18px 3px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
}

.content {
    display: flex;
    flex-direction: column;
    height: 88%;
    width: 88%;
    background-color: white;
    border-radius: 8px;
}

.content>.top {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    align-items: center;
    height: 20%;
    background-color: white;

    p {
        font-weight: bold;
        font-size: 0.75rem;
    }

    .color {
        height: 20px;
        width: 20px;
        margin-left: 5px;
        margin-right: 10px;
        border-radius: 50%;
        background-color: orange;
    }
}

.content>.middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40%;
    background: linear-gradient(#F9BC61, #FDE8C9 75%);
    padding-left: 15px;
    padding-right: 15px;

    img {
        width: 60%;
    }

    div>p:first-child {
        margin-bottom: 5px;
        font-size: 0.75rem;
    }

    div>p:last-child {
        margin: 0;
        font-weight: bold;
    }
}

.content>.bottom {
    display: flex;
    letter-spacing: -1px;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    height: 40%;
    padding-left: 15px;
    padding-right: 0px;

    div {
        display: flex;
        flex-direction: column;
        align-items: center;

        p:first-child {
            font-weight: bold;
        }
    }
}

#refresh_shop img {
    /* position: absolute;
    left: 16px;
    top: 16px; */
    width: 50px;
    height: 50px;
}

/* collection card css */

.setup_card_container {
    display: flex;
}

.myCard {
    background-color: transparent;
    width: 190px;
    height: 254px;
    perspective: 1000px;
    margin: 30px;

}

.title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

.innerCard {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transform-style: preserve-3d;
    cursor: pointer;
    transition: transform 0.8s;
}

.flipped {
    transform: rotateY(180deg);
}

.frontSide,
.backSide {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 1rem;
    color: white;
    box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
    font-weight: 700;
}

.frontSide,
.frontSide::before {
    background: linear-gradient(43deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 46%, rgb(255, 204, 112) 100%);
}

.backSide,
.backSide::before {
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    opacity: 1;
    visibility: visible;
    transition: opacity 0.8s, visibility 0.8s;
    align-items: flex-start;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 10px;
}

.flipped .backSide {
    opacity: 1;
    visibility: visible;
}

.frontSide::before,
.backSide::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 110%;
    height: 110%;
    position: absolute;
    z-index: -1;
    border-radius: 1em;
    filter: blur(20px);
    animation: animate 5s linear infinite;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 0px;
}

.dropdown-list {
    position: absolute;
    top: 50px;
}

.bar {
    font-size: 2rem;
}

.title {
    margin-top: 20px;
    color: white;

}

.carousel-indicators {
    width: 100%;
    margin-left: 0 !important;
    top: 0;
    height: fit-content;
}


.carousel-control-next,
.carousel-control-prev {
    bottom: unset;
    align-items: unset;
    top: -2.5rem
}

.frontSide>p {
    padding: 0;
    margin: 0;

}

.frontSide>p>.title {
    height: fit-content;
    font-size: 120px;
}

.list {
    margin: 0 !important;
}

.list-title {
    padding: 0px 25px 20px;
    font-size: 25px;
    font-family: 'Pixelify Sans', sans-serif;
}

@keyframes animate {
    0% {
        opacity: 0.3;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}

/* 新增的 CSS */
.backSide {
    transform: rotateY(180deg);
}

.icon {
    display: flex;
    font-size: 3.8rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-shadow: rgba(0, 0, 0, 0.12) 2px 2px 2px;
}

/* .emoji-container {
    position: relative;
    animation: emojiFall 1s linear;
} */

.emoji {
    position: absolute;
    font-size: 5rem;
}

#slimeStableIcon {
    content: var(--run)
}

#shop-util-bar {
    position: fixed;
    top: 5px;
    right: 0;
    left: 0;
    margin: 0 15px 0 15px;
    border-bottom: 5px solid gray;
    height: 100px;
    width: calc(100% - 30px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    z-index: 5;
}

#shop-util-bar img {
    height: 50px;
    width: 50px;
    object-fit: cover;
}

#shop-coin-display {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    font-weight: bold;
}


.shop-timer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    font-weight: bold;
}

.shop-timer p {
    margin-left: 15px;
    margin-bottom: 0;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px
}

.nav-link span {
    font-size: 3rem;
    margin-right: 15px;
}

.nav-link b {
    font-size: 1.5rem;
}

.blur {
    transition: all 1s ease;
    filter: blur(10px);
}